/* Start Add Post */

#display-img{
    display: none ;
}

#dispaly-img-update, #display-img{
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
}
strong{
    color: tomato;
    display: flex;
    flex-direction: revert;
}
.rmg-chracter {
    display: flex;
    color: #c249ad;
}
.form-group label{

    display: flex;
    color: #000;
}
.image-field{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-container .add-post{
    color: #FFF;
    background-color: #1cc88a;
    border: 1px solid #a6d0f4;
    box-shadow: 0 .4rem 1rem rgba(0,0,0,.15),
                0 -.4rem 1rem rgba(0,0,0,.15);
}
/* End Add Post */