/* .view-post-container{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    padding: 25px;
    width: 90% !important;
    border: 1px solid #a6d0f4;
    box-shadow: 0 0.4rem 1rem rgb(0 0 0 / 15%), 0 -0.4rem 1rem rgb(0 0 0 / 15%);
}

.post-table{
    width: 90%;
}*/
table{
    color: #000 !important;
}
.card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.saved-post{
    position: relative;
    top: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 4%;
    width: 500px;
}

.add-button {
    color: #000 !important;
    font-weight: 600 !important;
} 
