#langDropdown {
    width: 10rem !important;
}

.lang-flag a {
    height: 3.375rem !important;
    color: #3a3b45 !important;
}

.nav-user-name, #sidebarToggleTop, #alertsDropdown i{
    color: #000 !important;
}
/* #sidebarToggleTop:hover, .nav-link:hover, .nav-user-name:hover, #alertsDropdown i:hover{
    color: #2E59D9 !important;
}  */
.nav-guset-user a{
    color: #000 !important;
    font-weight: bold;
}
.nav-guset-user a:hover{
    color: #2E59D9 !important;

}
input[name="search_post"]{
    border: 1px solid #4e73df !important;
}
#messagesDropdown img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.lang-flag a:first-of-type::before {
    content: "";
    background-image: url("../../img/flags/us.svg");
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    left: -6px;
}
.lang-flag a:nth-of-type(2)::before {
    content: "";
    background-image: url("../../img/flags/tr.svg");
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    left: -6px;
}
.lang-flag a:last-of-type::before {
    content: "";
    background-image: url("../../img/flags/sa.svg");
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    left: -6px;
}

.img-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.list-active-background {
    background-color: #eef2ff !important;
}

.sidebar {
    transition: 0.5s !important;
}
#logo-nav{
    width: 100px;
    height: 100px;
    margin-bottom: -80px;
}
@media (min-width: 768px) {
    .sidebar.toggled .nav-item .collapse .collapse-inner {
        box-shadow: none !important;
    }
}
